html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column; */
}

#webgl-canvas {
  /* display: flex; */
  position: fixed;
  width: 100%;
  height: 150px;
  border-bottom: 2px solid white;
}

#threejs-canvas {
  /* display: flex; */
  height: 100%;
  width: 100%;
  /* flex-grow: 1; */
}
